<!DOCTYPE html>
<html lang="en" ng-app="votingApp">
  
  <head>
    <meta charset="utf-8">
    <title>Voting Polling App</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,300,400italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  
  <body ng-controller="PollController">
    <div class="navbar navbar-default">
      <a class="navbar-brand">Voting Polling App</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
    <div class="container">
      <h1>Welcome to the voting app!</h1>
      
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{ polls }}
            <h3 class="panel-title">{{ polls.title }}</h3>
            <div class="panel-body">
              <p ng-repeat="poll in polls.option">{{ poll.text }}</p>
              <p ng-repeat="vote in polls.vote">{{ vote }}</p>
              <p>{{ polls.date | date }}</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6">
        <form ng-submit="newPoll()">
          <div class="form-group">
            <label>Question:</label>
            <input type="text" name="question" class="form-control" ng-model="title" require>
          </div>
          <fieldset class="form-group" ng-repeat="option in options">  
            <label>Option {{ $index + 1 }}:</label>
            <input type="text" name="question" class="form-control" ng-model="option.text" require>
          </fieldset>
          <button type="submit" class="btn btn-success btn-lg">Submit</button>
          <button type="button" class="btn btn-info btn-lg" ng-click="addField()">Add Option</button>
        </form>                
      </div>
      
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    
  </body>
</html>
